body {
  font-family: sans-serif;
  box-sizing: border-box;
  max-width: 2000px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  body {
    max-width: 1200px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.wrap {
  overflow: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
}

.inner {
  width: 1200px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 5%;
  box-sizing: border-box;
}

.center {
  text-align: center;
}

.t-left {
  text-align: left;
}

.right {
  text-align: right;
}

p {
  font-size: 27px;
  line-height: 1.7;
}

@media screen and (max-width: 768px) {
  p {
    font-size: 18px;
    line-height: 1.4;
  }
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb45 {
  margin-bottom: 45px;
}

@media screen and (max-width: 768px) {
  .mb45 {
    margin-bottom: 5%;
  }
}

.p30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .p30 {
    padding-top: 5%;
    padding-bottom: 5%;
  }
}

.p50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .p50 {
    padding: 10% 0;
  }
}

.pb30 {
  padding-bottom: 30px;
}

.s1-bg {
  background-image: url(../image/s1-bg.jpg);
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  padding: 60px 0;
}

.m-title {
  margin-right: 16%;
  margin-left: 1%;
}

@media screen and (max-width: 768px) {
  .m-title {
    transform: translateX(-7%);
    width: 97%;
    margin: 0 auto;
  }
}

.s1-bt-bg {
  background-image: url(../image/s1-bottombar-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 0 90px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .s1-bt-bg {
    padding: 6% 0 10%;
  }
}

.s1-bt-bg img {
  width: 850px;
  max-width: 100%;
}

.s2-text {
  margin-bottom: 20px;
}

.s2-btn {
  background-image: url(../image/s2-btn-bg.jpg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px 0px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .s2-btn {
    padding: 7% 3%;
  }
}

.s2-btn-link {
  position: relative;
  z-index: 1;
  margin: 0 15px;
}

@media screen and (max-width: 768px) {
  .s2-btn-link {
    margin: 0;
  }
}

.s2-btn-link::before, .s2-btn-link::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 1em;
  background: #60A8F0;
  border: 1px solid #D8E7F6;
}

.s2-btn-link::before {
  animation: anime-pulse 2s ease-out infinite;
}

.s2-btn-link::after {
  animation: anime-pulse 2s ease-out 1s infinite;
}

@keyframes anime-pulse {
  0% {
    transform: scale(0.95);
    opacity: 1;
  }
  90% {
    opacity: .1;
  }
  to {
    transform: scale(1.2, 1.5);
    opacity: 0;
  }
}

/* -------------------------
        section1
--------------------------*/
.section1 h1 {
  padding: 15px 0 2px;
}

@media screen and (max-width: 768px) {
  .section1 h1 {
    width: 60%;
    padding: 2.5% 0 2px;
  }
}

.section1 h1 img {
  width: 300px;
}

/* -------------------------
        section2
--------------------------*/
.section2 {
  padding: 50px 0;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .section2 {
    padding: 8% 0;
  }
}

.section2 .scroll {
  margin-top: 60px;
}

@media screen and (max-width: 768px) {
  .section2 .scroll {
    margin-top: 8%;
  }
}

@media screen and (max-width: 768px) {
  .section2 .scroll img {
    width: 12%;
  }
}

/* -------------------------
        section3
--------------------------*/
.section3 {
  text-align: center;
}

.section3 .s3-bg {
  background-image: url(../image/s3-title-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px 0;
}

@media screen and (max-width: 768px) {
  .section3 .s3-bg {
    padding: 12% 0;
  }
}

/* -------------------------
        section4
--------------------------*/
.section4 {
  text-align: center;
}

.section4 .s4-title-bg {
  background-image: url(../image/s4-machi.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px 0;
}

@media screen and (max-width: 768px) {
  .section4 .s4-title-bg {
    padding: 12% 0;
  }
}

.section4 .s4-main-bg {
  background-image: url(../image/s4-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 300px 0 220px;
  position: relative;
  z-index: -1;
  margin-top: -230px;
}

@media screen and (max-width: 768px) {
  .section4 .s4-main-bg {
    padding: 15% 0 10%;
    margin-top: -10%;
  }
}

.section4 .s4-main-bg p {
  color: #ffffff;
}

/* -------------------------
        section5
--------------------------*/
.section5 {
  padding: 50px 0;
}

.section5 .s5-main-bg {
  background-image: url(../image/s5-bg.png);
  background-size: cover;
  background-position: center;
  padding: 260px 0 240px;
  z-index: 1000;
  position: relative;
  margin-top: -180px;
}

@media screen and (max-width: 768px) {
  .section5 .s5-main-bg {
    padding: 150px 0 12%;
    margin-top: -120px;
  }
}

.section5 .s5-main-bg .s5-title {
  margin-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .section5 .s5-main-bg .s5-title {
    margin-bottom: 10%;
  }
}

.section5 .s5-main-bg .s5-title img {
  width: 100%;
}

.section5 .s5-main-bg p {
  color: #1e216f;
}

.section5 .s5-bottom-bg {
  background-image: url(../image/s5-bg2.png);
  background-size: cover;
  background-position: center;
}

/* -------------------------
        section6
--------------------------*/
.section6 {
  background-color: #1e216f;
  padding: 200px 0 50px;
  position: relative;
  z-index: -1;
  margin-top: -210px;
}

/* -------------------------
        section7
--------------------------*/
.section7 {
  background-image: url(../image/s7-bg.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 100px 0 200px;
}

@media screen and (max-width: 768px) {
  .section7 {
    padding: 10% 0 10%;
  }
}

.section7 .s7-title {
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .section7 .s7-title {
    margin-bottom: 10%;
  }
}

/* -------------------------
        section8
--------------------------*/
.section8 {
  background-image: url(../image/s8-bg.png);
  background-size: cover;
  background-position: bottom center;
  padding-top: 220px;
  margin-top: -187px;
  position: relative;
  z-index: -1;
}

/* -------------------------
        section9
--------------------------*/
.section9 {
  padding: 100px 0 50px;
}

@media screen and (max-width: 768px) {
  .section9 {
    padding: 10% 0;
  }
}

/* -------------------------
        section10
--------------------------*/
.section10 .s10-hero {
  background-image: url(../image/s10-title-bg.png);
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  padding: 60px 0;
}

.section10 .m-title2 {
  margin-left: 1%;
  margin-right: 8%;
}

.section10 .s10-text-bg {
  background-color: #1e216f;
  padding: 40px 0;
}

.section10 .s10-texts {
  padding-top: 10%;
}

.section10 p {
  color: #1e216f;
}

/* -------------------------
        section11
--------------------------*/
.section11 .s11-bg {
  background-image: url(../image/s11-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 250px 0;
}

@media screen and (max-width: 768px) {
  .section11 .s11-bg {
    padding: 20% 0 15%;
  }
}

.section11 .s11-bg .s11-block {
  margin-bottom: 30px;
}

.section11 .s11-human-img {
  position: relative;
  z-index: 2;
  margin-top: -160px;
}

@media screen and (max-width: 768px) {
  .section11 .s11-human-img {
    margin-top: -10%;
  }
}

.section11 .s11-text-bg {
  background-color: #1e216f;
  padding: 40px 0;
}

@media screen and (max-width: 768px) {
  .section11 .s11-text-bg {
    padding: 5% 0;
  }
}

/* -------------------------
        section12
--------------------------*/
.section12 {
  padding: 90px 0;
  background-color: #eaeef5;
}

@media screen and (max-width: 768px) {
  .section12 {
    padding: 10% 0;
  }
}

.section12 .s12-top-img {
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .section12 .s12-top-img {
    margin-bottom: 7%;
  }
}

.section12 .s12-btm-img {
  margin-top: 90px;
}

@media screen and (max-width: 768px) {
  .section12 .s12-btm-img {
    margin-top: 10%;
  }
}

.section12 .s12-block {
  background-color: #ffffff;
  margin-bottom: 60px;
  padding: 40px;
  box-sizing: border-box;
  text-align: center;
}

.section12 .s12-block:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .section12 .s12-block {
    padding: 5%;
    margin-bottom: 10%;
  }
}

.section12 .s12-block .s12-block-img {
  margin-bottom: 30px;
}

.section12 .t-red {
  font-size: 20px;
  text-align: right;
  color: red;
}

@media screen and (max-width: 768px) {
  .section12 .t-red {
    font-size: 1.5vw;
  }
}

/* -------------------------
        section13
--------------------------*/
.section13 {
  background-image: url(../image/s13-bg.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  padding: 100px 0;
}

@media screen and (max-width: 768px) {
  .section13 {
    padding: 15% 0;
  }
}

.section13 .s13-gbar {
  width: 100%;
}

.section13 .s13-gbar img {
  width: 100%;
  height: 13px;
}

.section13 .s13-gbar_t {
  position: absolute;
  top: 0;
}

.section13 .s13-gbar_b {
  position: absolute;
  bottom: -3px;
}

.section13 .s13-texts {
  padding: 70px 0;
}

@media screen and (max-width: 768px) {
  .section13 .s13-texts {
    padding: 10% 0;
  }
}

.section13 p {
  color: #ffffff;
}

.section13 .name {
  padding-right: 50px;
  box-sizing: border-box;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .section13 .name {
    padding-right: 5%;
    width: 35%;
    margin-left: auto;
  }
}

/* -------------------------
        section14
--------------------------*/
.section14 {
  padding-top: 100px;
}

@media screen and (max-width: 768px) {
  .section14 {
    padding-top: 10%;
  }
}

.section14 .s14-text {
  padding: 40px 0;
  background-color: #1e216f;
}

@media screen and (max-width: 768px) {
  .section14 .s14-text {
    padding: 5% 0;
  }
}

/* -------------------------
        section15
--------------------------*/
.section15 {
  padding: 100px 0;
  background-color: #eaeef5;
}

@media screen and (max-width: 768px) {
  .section15 {
    padding: 10% 0;
  }
}

.section15 .s15-block {
  background-color: #ffffff;
  padding: 50px;
}

@media screen and (max-width: 768px) {
  .section15 .s15-block {
    padding: 5%;
  }
}

.section15 .s15-block .s15-h {
  font-size: 55px;
}

@media screen and (max-width: 768px) {
  .section15 .s15-block .s15-h {
    font-size: 7.3vw;
  }
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 11px;
  line-height: 1.8;
}
